<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>

<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1-1">
                        <img 
                        src="images/profile.png" 
                        width="156px" 
                        height="142px" 
                        alt="">
                    </div>
                    <div class="left_1-2"><%=user.name%></div>
                    <div class="left_1-3"><%=user.profession%></div>
                    <div class="left-icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector-1.svg" class="icon-1"/>
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector-2.svg" class="icon-1"/>
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector-3.svg" class="icon-1"/>
                            </div>
                        </a><a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector-4.svg" class="icon-1"/>
                            </div>
                        </a><a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector-5.svg" class="icon-1"/>
                            </div>
                        </a><a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector-6.svg" class="icon-1"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>

                <div class="left_2">
                    <row class="left_a">
                        <div class="left_2-1">
                            <span class="a" style="background-color: #ffb400;">Age:</span>
                            <span><%=user.age%></span>
                        </div>
                        <div class="left_2-1">
                            <span class="a" style="background-color: #ffb400;"><%=user.residence%></span>
                            <span>BD</span>
                        </div>
                        <div class="left_2-1">
                            <span class="a" style="background-color: #ffb400;">Freelance:</span>
                            <span style="color: #7EB942;" >Available</span>
                        </div>
                        <div class="left_2-1">
                            <span class="a" style="background-color: #ffb400;">Address:</span>
                            <span><%=user.address%></address></span>  
                        </div>    
                    </row>
                </div>
                <div class="marginer"></div>

                <div class="left_3">
                    <div class="left_3-1">
                        <div class="lang" style="margin: 0%;">Languages</div>
                    
                        <div class="lang_1">
                            <div>Uzbekcha</div>
                            <div>100%</div>
                        </div>
                        <div class="line">
                            <dive class="line_in"></dive>
                          </div>
                        
                        <div class="lang_1">
                            <div>Russian</div>
                            <div>50%</div>
                        </div>
                        <div class="line">
                            <dive class="line_in"></dive>
                          </div>
                        <div class="lang_1">
                            <div>English</div>
                            <div>40%</div>
                        </div>
                        <div class="line">
                            <dive class="line_in"></dive>
                          </div>
                    
                    </div>
                </div>
                <div class="marginer"></div>

                <div class="left_4">
                    <div class="left_4-1">
                        <div class="lang" >Skills</div>
                    
                        <div class="lang_1">
                            <div>Html</div>
                            <div>90%</div>
                        </div>
                        <div class="line">
                            <dive class="line_in"></dive>
                          </div>
                        
                        <div class="lang_1">
                            <div>CSS</div>
                            <div>85%</div>
                        </div>
                        <div class="line">
                            <dive class="line_in"></dive>
                          </div>
                        <div class="lang_1">
                            <div>Js</div>
                            <div>80%</div>
                        </div>
                        <div class="line">
                            <dive class="line_in"></dive>
                          </div>
                         <div class="lang_1">
                            <div>PHP</div>
                            <div>75%</div>
                        </div>
                        <div class="line">
                            <dive class="line_in"></dive>
                          </div>
                        <div class="lang_1">
                            <div>WordPress</div>
                            <div>85%</div>
                        </div>
                        <div class="line">
                            <dive class="line_in"></dive>
                        </div>
                    
                    </div>
                </div>
                <div class="marginer"></div>

                <div class="left_5">
                    <div class="left_5-1">
                        <div class="lang" >Extra Skills</div>

                        <div class="left_5-1a">
                            <div><img src="icon/icons.svg"></div>
                            <div style="color: #767676; margin-left: 10px;">Bootstrap, Materialize</div>
                        </div>

                        <div class="left_5-1a">
                            <div><img src="icon/icons.svg"></div>
                            <div style="color: #767676; margin-left: 10px;">Stylus, Sass, Less</div>
                        </div>

                        <div class="left_5-1a">
                            <div><img src="icon/icons.svg"></div>
                            <div style="color: #767676; margin-left: 10px;">Gulp, Webpack, Grunt</div>
                        </div>

                        <div class="left_5-1a">
                            <div><img src="icon/icons.svg"></div>
                            <div style="color: #767676; margin-left: 10px;">GIT Knowledge</div>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>
            </div>


            <div class="midd_frame">
                <div class="midd_flex">
                    <div class="midd_1">                        
                        <div class="midd_1-1">Doctor newrologists in OHSU Hospital</div> 
                        <div class="midd_1-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta officiis consequuntur quisquam maxime eius, illo tenetur culpa eligendi modi alias!</div>
                        <div class="midd_1-3">
                             <img src="btn_icon/Button_Book Me.svg" >
                        </div>
                        <div class="midd_1a">
                        <img src="box_images/YourImage1.png" >
                        </div> 
                    </div>
                    
                    <div class="midd_2">
                        <div class="midd_2a">
                            <div class="myservice">My Service</div>
                            <div class="myservice1">
                                <div class="amet">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</div>
                            </div>
                        </div>
                        <div class="midd_2b">
                            <div class="midd_2b1">
                                <div class="devimages">
                                    <img src="icon/Icons_coding.svg">
                                </div>
                                <div class="devtext">Web Development</div>
                                <dev class="textblock">Blog, E-commerce</dev>
                            </div>
                            <div class="midd_2b1">
                                <div class="devimages">
                                    <img src="icon/Icons_illustration.svg">
                                </div>
                                <div class="devtext">UI/UX Design</div>
                                <dev class="textblock">Mobile App, Website Design</dev>
                            </div>
                            <div class="midd_2b1">
                                <div class="devimages">
                                    <img src="icon/Icons_Microphone.svg">
                                </div>
                                <div class="devtext">Sound Design</div>
                                <dev class="textblock">Voice Over, Beat Making</dev>
                            </div>
                        </div>
                        <div class="midd_2c">
                            <div class="midd_2b1">
                                <div class="devimages">
                                    <img src="icon/Icons_game-development.svg">
                                </div>
                                <div class="devtext">Game Design</div>
                                <dev class="textblock">Character Design, Props & Objects</dev>
                            </div>
                            <div class="midd_2b1">
                                <div class="devimages">
                                    <img src="icon/Icons_Photographer.svg">
                                </div>
                                <div class="devtext">Photography</div>
                                <dev class="textblock">Portrait, Product Photography</dev>
                            </div>
                            <div class="midd_2b1">
                                <div class="umumiy">
                                    <div class="devtext" style="margin-top: 0%;">Advertising</div>
                                <dev class="textblock" style="height: 100px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta nostrum corporis aliquam! Iste, nostrum sed? Tenetur, veritatis voluptate.</dev>
                                <div class="devimages" style="width: 86px; height: 20px;">
                                    <img src="icon/Order_Now.svg">
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="right_frame">
                <div><img src="icon/Contrast.svg" style="margin-top: 40px;"></div>

                <div class="menu">
                    <img src="icon/Home.svg">
                    <img src="icon/Service.svg">
                    <img src="icon/Cv.svg">
                    <img src="icon/Portfolio.svg">
                    <img src="icon/Blog.svg">
                    <img src="icon/Contact.svg">
                </div>
            </div>
        </div>
    </div>
</body>

</html>